<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig1</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>pig2</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>pig3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigs.png</string>
            <key>size</key>
            <string>{228,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da75b3ef881d1379aa60c536f5c4fa77$</string>
            <key>textureFileName</key>
            <string>pigs.png</string>
        </dict>
    </dict>
</plist>
